{{- $hostname := promptStringOnce . "hostname" "Hostname" .chezmoi.hostname }}
{{- $email := promptStringOnce . "email" "Email address" "user@example.com" -}}
{{- $hasGui := promptBoolOnce . "hasGui" "Does this machine have a screen and keyboard" true -}}
{{- $isPersonalDevice := promptBoolOnce . "isPersonalDevice" "Is this a personal device" true -}}
{{- $documentsRoot := promptStringOnce . "documentsRoot" "Where to store documents" ( print .chezmoi.homeDir "/Termux docs" ) -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work email" -}}

{{- /* Remove whitespace */ -}}

[data]
    hostname = {{ $hostname | quote }}
    email = {{ $email | quote }}
    hasGui = {{ $hasGui }}
    isPersonalDevice = {{ $isPersonalDevice }}
    documentsRoot = {{ $documentsRoot | quote }}
    workEmail = {{ $workEmail | quote }}
