{{- $hostname := promptStringOnce . "hostname" "Hostname" .chezmoi.hostname }}
{{- $email := promptStringOnce . "email" "Email address" "user@example.com" -}}
{{- $hasGui := promptBoolOnce . "hasGui" "Does this machine have a screen and keyboard" true -}}

{{- /* Remove whitespace */ -}}

[data]
    hostname = {{ $hostname | quote }}
    email = {{ $email | quote }}
    hasGui = {{ $hasGui }}
